.pricing {
  background: linear-gradient(#040e27, rgba(4, 14, 39, 0.3));
}
.pricing > h1 {
  color: var(--white);
  text-align: center;
  padding-top: 2rem;
}
.pricing > p {
  color: var(--white);
  text-align: center;
  margin: 1rem 0;
}
.mob-view,
.swiper-control {
  display: none;
}

/* for bg images */

.left-bg {
  position: absolute;
  left: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

.right-bg {
  position: absolute;
  right: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

/* Card container */

.card-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;
}

/* For mobile view */
@media (max-width: 930px) {
  .card-container > div {
    width: 40%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .card-container > div {
    width: 47%;
    margin-bottom: 2rem;
  }
  .left-bg {
    display: none;
  }
}
@media (max-width: 477px) {
  .mob-view,
  .swiper-control {
    display: block;
  }
  .card-container {
    display: none;
  }
  .swiper-control {
    width: 30%;
    color: var(--white);
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .swiper {
    margin: 0 18px !important;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
}
