* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

// variables

$background: #0a0a0a;
$teal: #00a99d;
$light-white: #a1a1aa;
$light-bg: #20222a;
$white: #ffffff;
$modal-bg: rgb(0 0 0 / 25%);
$black: black;

// root style
.App {
  background-color: $background;
}

// ************* Mixing **************

// Buttons with green background
@mixin green-bg-button($padding-x: 14px, $padding-y: 25px, $font: 15px) {
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  border-radius: 31px;
  background-color: $teal;
  padding: $padding-x $padding-y;
  font-size: $font;
  @include flex-centerd();
  & > img {
    width: 25px;
    margin-left: 12px;
  }

  &:hover {
    filter: brightness(0.7);
  }
}

// Button with border
@mixin border-button($padding-x: 11px, $padding-y: 25px, $font: 15px) {
  @include green-bg-button($padding-x, $padding-y, $font);
  background-color: transparent;
  border: 2px solid $teal;
}

// Button with transparent backgroung and without border
@mixin simple-button($color: $white, $font: 15px) {
  background-color: transparent;
  border: none;
  outline: none;
  color: $color;
  cursor: pointer;
  font-size: $font;
  filter: brightness(0.7);
  &:hover {
    filter: brightness(1);
  }
}

// Utilitys
@mixin font($font-size: 13px, $color: $white, $weight: 500) {
  color: $color;
  font-weight: $weight;
  font-size: $font-size;
}

// Flex property
@mixin flex-centerd($direction: row, $align: center, $content: center) {
  display: flex;
  align-items: $align;
  justify-content: $content;
  flex-direction: $direction;
}

// Flex align
@mixin flex-align($direction: row, $align: center) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
}

// Flex content
@mixin flex-content($direction: row, $content: center) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}

// Horizontally margin auto
@mixin mx-auto {
  margin: 0 auto;
}

@mixin gradient-text(
  $direction: to bottom,
  $startcolor: $white,
  $stopcolor: $teal,
  $startpercent,
  $stoppercent
) {
  background: linear-gradient(
    $direction,
    $startcolor $startpercent,
    $stopcolor $stoppercent
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Sections main headings
@mixin section-heading(
  $direction: to bottom,
  $startpercent: 30%,
  $stoppercent: 85%,
  $size,
  $width: 50%,
  $margin: 0 0 0 0
) {
  @include font(50px, $white, 500);
  @include gradient-text(90deg, $white, $teal, $startpercent, $stoppercent);
  text-align: center;
  width: $width;
  margin: $margin;
}

// width height 100%
@mixin wh($widyh: 100%, $height: 100%) {
  height: $height;
  width: $widyh;
}

// Media query
@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
